body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background-color: #F7F8F9

}

select::-ms-expand {
  display: none;
}

select:hover, select:focus {
  color: #000000;
}

.row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}



.col-md-6, .col-md-8, .col-md-4, .col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 850px) {
  .col-md-6 {
    -ms-flex: 0 0 50% !important;
    -webkit-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    width: 50%;
    max-width: 50%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.66666% !important;
    -webkit-flex: 0 0 66.66666% !important;
    flex: 0 0 66.66666% !important;
    max-width: 66.66666% !important;
    width: 66%;
  }
  .col-md-4{
    -ms-flex: 0 0 33.3333% !important;
    -webkit-flex: 0 0 33.3333% !important;
    flex: 0 0 33.3333% !important;
        width: 33%;
    max-width: 33.3333% !important;
  }
    .col-md-12{
    -ms-flex: 0 0 100% !important;
    -webkit-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
        width: 100%;
    max-width: 100% !important;
  }

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pad-50 {
  padding: 50px;
}

.pad-right-50 {
  padding-right: 50px;
}

.pad-right-30{
    padding-right: 30px;
}

.pad-left-50 {
  padding-left: 50px;
}

.pad-left-30{
    padding-left: 30px;
}

.pad-bottom-50 {
  padding-bottom: 50px;
}

.pad-bottom-10{
    padding-bottom: 10px;
}

.pad-bottom-30{
    padding-bottom: 30px;
}

.pad-top-70 {
  padding-top: 70px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-top-10 {
    padding-top: 10px;
}

.margin-right-5{
    margin-right: 5px !important;
}
.margin-bottom-80{
    margin-bottom: 80px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

input {
  outline: none;
  border: none;
}

a {
    text-decoration: none;
}


.callinput {
  margin-top: 5%;
}

.overlay {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dashButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.z-index {
  z-index: 2;
}

.Select.is-open {
  position: relative;
  z-index: 1000;
}



.callbutton {
  margin-left: 5px;
}

.invoicesTable {
  margin-top: 15px;
}

.welcomeNewUser {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 60%;
  margin-left: -25%;
  margin-top: -15%;
  background-color: white;
  z-index: 2;
  visibility: hidden;
}

.newUserLeft {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newUserRight {
  width: 70%;
}

.newUserRightHeader {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newUserRightDescription {
  display: relative;
  width: 60%;
  margin-left: 20%;
  height: 70%;
  text-align: center;
}

.newUserButtonContainer {
  margin-top: 25%;
  display: flex;
  justify-content: space-evenly;
}

.tip {
  position: relative;
}

.tip > div {
  display: none;
  position: absolute;
  top: -5px;
  left: 60px;
  width: 125px;
  padding: 5px;
  z-index: 100;
  background: #000;
  color: #fff;
  -moz-border-radius: 5px; /* this works only in camino/firefox */
  -webkit-border-radius: 5px; /* this is just for Safari */
}
.tip > div:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
  left: -8px;

  top: 7px;
}

.tip:hover {
  font-size: 99%; /* this is just for IE */
}

.tip:hover span {
  display: block;
}

/* CONTACTS */

.title-bar {
  width: 100%;
}

.app-page-header {
  border-bottom: 1px solid #9DC8E4;
  display: flex;
  flex-direction: column;
   margin-right: 6%;
   margin-left: 6%;
   margin-bottom: 40px;
  padding: 42px 0px 24px;
  position: relative;
}

.app-header-inner {
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
}

.app-header-title {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
}

.app-heading {
  margin-bottom: 2px;
  padding-right: 28px;
  margin-top: 0;
  display: block;
  font-size: 28px;
  line-height: normal;
  margin: 0;
  color: #33393d;
  font-weight: 300;
}


