.body-container {
  padding-top: 80px;
}

.hero-wrapper {
  background: rgba(39,62,84,0.82);
  /* background-image: url(../images/landing/heroBackground.jpg); */
  /* background-image: url(../images/backgrounds/blackShapes.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  margin-bottom: 120px;
}



.general-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

@media only screen and (max-width: 1250px) {
  .general-container {
    width: 83%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 992px) {
  .general-container {
    width: 90%;
    margin: 0 auto;
  }
}



.d-flex {
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;

}

.align-items-center {
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;

}

.hero-left h1 {
  line-height: 54px;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 16px;
}

.hero-sub-head {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;
  color: #fff;
}

.btn-blue {
  padding: 20px 30px;
  border-radius: 4px;
  background-color: #5078EE;
  color: #fff;
  letter-spacing: 2px;
  width: 50%;
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 1250px) {
.btn-blue {
  width: 60%;
  font-size: 18px;
  margin-bottom: 40px;
}

}

.hero-img {
  width: 100%;
}

.section-padding {
  padding-bottom: 100px;
}

.first-feature {
  margin-bottom: 100px;
}

.features-main h3 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}

.feature-text {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 36px;
  color: #222222;
}

.feature-one-img {
  width: 90%;
  margin: auto;
}

.feature-two-img {
  width: 100%;
  margin: auto;
}

.cta-row {
  color: #fff;
    background: rgba(39,62,84,0.82);
  /* background-image: url(../images/landing/heroBackground.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.cta-text {
  margin-top: 80px;
}

.cta-row h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
}


.cta-copy {
  color:#fff;
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 36px;
}

.cta-img {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-left: -30px;
}
