.phoneMargin{
  margin: 0;
}
.phoneFormContainer{
  margin-top: 3%;
}

.topFormContainer{
  padding-top: 1%;
}

.background{
  background-color: #f2f2f5;
}

.setupFormContainer{
  margin-top: 2.5%;
  width: 60%;
  margin-left: 20%;
  background-color: white;
  margin-bottom: 2.5%;
}

.digitInput{
  width: 30%;
  text-align: center;
}

.numberButton{
  width: 17.5%;
  height: 50px;
  margin-bottom: 5px;
  margin-right: 2.5%;
}

.numberButton:active{
  border: 1px solid blue;
}

.contactButtonContainer{
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 120px;
}

.lineBreak{
  height: 25px;
}

.submitButton{
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.phoneSubmitButton{
  margin: 10px 0;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 15%;
  cursor: pointer;
  width: 20%;
  padding: 15px;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .numberButton{
    width: 29%;
    font-size: 12px;
  }
}

