.phoneMargin{
  margin: 0;
}
.phoneFormContainer{
  margin-top: 3%;
}

.topFormContainer{
  padding-top: 1%;
}

.background{
  background-color: #f2f2f5;
}

.setupFormContainer{
  margin-top: 2.5%;
  width: 60%;
  margin-left: 20%;
  background-color: white;
  margin-bottom: 2.5%;
}