.registrationDescription{
    margin-top: 0;
    text-align:center;
  }

.centerTitle{
    margin-top: 5%;
    text-align: center;
    line-height: 0;
  }

.title{
    color: #777777;
    font-weight: bold;
    font-size: 2em;
  }

.loginForm {
      text-align: left;
      

  }

.registrationPageContainer {
      border: 1px;
      width: 60%;
      margin-left: 20%;
      
      
  }

.center{
    text-align: center;
  }

.shadow{ 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15); 
  }

.fullPage {
   
    background-color: #f2f2f5;
    height: 80vh;
    overflow: hidden;
  }

.topFormContainer {
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

input {
    background-color: lightgray;
    width: 100%;
    margin-top: 10px;
    
}

.signUpButton {
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 15%;
    cursor: pointer;
}

.login-link {
    margin-left: 10%;
}

.vhFooter {
    height: 10vh;
    background-color: pink;
}
.vhHeader {
    height: 10vh;
    background-color: pink;
}

.bottomFormContainer {
    border-bottom: none
}




